{{#partial "contenido"}}
    <div class="pt-5"></div>
    <div class="m-5">
        <div class="row justify-content-center">
            <div class="col-md-5 col-12">
                <form id="registroForm" class="me-4 ms-4" method="POST" action="/usuarios">
                    <h1 class="title text-center">Crear {{#if personaHumana}}persona humana{{else}}persona jurídica{{/if}}</h1>
                    <div class="pt-5 pb-4"></div> <!-- separador -->
                    <div class="row">
                        <input type="text" name="usuario" required pattern="^(?![._-])[a-zA-Z0-9._-]{5,50}(?<![._-])$" minlength="5" placeholder="Usuario" value="{{dto.nombre}}">
                    </div>
                    <div class="row mt-2">
                        <input type="password" id="clave" name="clave" required minlength="8" maxlength="50" placeholder="Contraseña" value="{{dto.clave}}">
                    </div>
                    <div class="row mt-2">
                        <input type="password" id="claveRepetida" name="claveRepetida" required minlength="8" maxlength="50" placeholder="Confirmar contraseña" value="{{dto.claveRepetida}}">
                    </div>
                    <div id="visibilidadClave" class="row mt-2">
                        <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label ms-2" for="flexCheckDefault">
                                Mostrar contraseña
                            </label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <button type="submit">Registrarse</button>
                    </div>
                    {{#if error}}
                        <div class="row mt-2 justify-content-center">
                            <p class="error text-center">{{error}}</p>
                        </div>
                    {{/if}}
                </form>
                <div class="row mt-5 mb-5 text-center">
                    <hr>
                    <label class="dark-grey-text fw-bold">¿Ya tienes una cuenta? <a href="/inicioSesion" class="light-blue">Inicia sesión</a></label>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#flexCheckDefault').on('change', function() {
                let passwordFieldType = $('#clave').attr('type') === 'password' ? 'text' : 'password';
                $('#clave, #claveRepetida').attr('type', passwordFieldType);
            });
        });

        const clave = document.getElementById('clave');
        const claveRepetida = document.getElementById('claveRepetida');

        function validarClave() {
            if (clave.value !== claveRepetida.value) {
                claveRepetida.setCustomValidity("Las claves no coinciden");
            } else {
                claveRepetida.setCustomValidity("");
            }
        }

        clave.addEventListener('input', validarClave);
        claveRepetida.addEventListener('input', validarClave);
    </script>
{{/partial}}
{{> templates/base titulo="Registro" mostrarInicioSesion=true mostrarIrAtras=true paginaAtras="/tipoCuenta" }}