{{#partial "contenido"}}
    <div class="m-5">
        <h2 class="fw-bold">Reportes</h2>
        <p class="mb-4">
            Los reportes se generan <b>semanalmente</b> para hacer un seguimiento detallado del trabajo de todos los involucrados en la causa.
        </p >
        {{#each reportes}}
            <div class="report-card mt-3">
                <div class="row p-3">
                    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start mb-2 mb-md-0">
                        <h3 class="fw-bold text-center text-md-start">{{this.fecha}}</h3>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <div class="dropdown">
                            <button class="btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton-two" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ver reporte
                            </button>
                            <div class="dropdown-menu dropdown-menu-end pdfs" id="pdfs-{{this.fecha}}" aria-labelledby="dropdownMenuButton-two">
                                <a class="dropdown-item" href="{{this.rutaFallas}}" target="_blank">Cantidad de Fallas por Heladera</a>
                                <a class="dropdown-item" href="{{this.rutaViandasRetiradas}}" target="_blank">Cantidad de Viandas Retiradas/Colocadas por Heladera</a>
                                <a class="dropdown-item" href="{{this.rutaViandasDonadas}}" target="_blank">Cantidad de Viandas Donadas por colaborador</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.6/pdfobject.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Seleccionamos todos los botones con la clase btn-mostrar
            const botonesMostrar = document.querySelectorAll(".btn-mostrar");

            // Agregamos un evento click a cada botón
            botonesMostrar.forEach(boton => {
                boton.addEventListener("click", function() {
                    // Obtenemos la fecha del botón presionado
                    const fecha = boton.getAttribute("data-fecha");

                    // Ocultamos todos los PDFs primero
                    const todasLasCards = document.querySelectorAll(".pdfs");
                    todasLasCards.forEach(pdfs => {
                        pdfs.style.display = "none";
                    });

                    // Mostramos solo la sección de PDFs correspondiente
                    const pdfsCorrespondientes = document.getElementById("pdfs-" + fecha);
                    if (pdfsCorrespondientes) {
                        pdfsCorrespondientes.style.display = "block";
                    }
                });
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.6/pdfobject.min.js"></script>
{{/partial}}

{{> templates/base titulo="Reportes" mostrarAdmin=true mostrarIrAtras=true paginaAtras="/" mostrarSeccion=true seccion="Reportes" }}
