{{#partial "contenido"}}
    <div class="mt-5 ms-sm-5 me-sm-5 mt-3 pb-3 ms-3 me-3 mb-5">
        <a href="/donacionVianda/nuevo" class="d-flex justify-content-end mb-3 align-items-center">
            <label class="d-flex align-items-center justify-content-center boton">
                Donar vianda
                <span class="iconify ms-2" data-icon="material-symbols:add" data-width="24" data-height="24"></span>
            </label>
        </a>
        <div class="row g-3">
            {{#each donacionesVianda}}
                <div class="col-md-4 position-relative">
                    <!--
                    <button type="button" class="delete position-absolute top-0 end-0 me-2" onclick="openModal('{{this.id}}', 'donacionVianda', null)">
                        <span class="iconify" data-icon="mdi:remove" data-width="18" data-height="18"></span>
                    </button>
                    -->
                    <div class="distribution-card">
                        <a href="/donacionVianda/{{this.id}}" class="dark-text">
                            <div class="row mb-2">
                                <span class="flex-row-reverse d-flex color-777">{{this.fechaDonacion}}</span>
                            </div>
                            <div class="row mb-2">
                                <span><strong>Heladera:</strong> {{this.heladeraNombre}}</span>
                            </div>
                            <div class="row mb-2">
                                <span><strong>Comida:</strong> {{this.comida}}</span>
                            </div>
                            <div class="row mb-2">
                                <span><strong>Fecha de caducidad:</strong> {{this.fechaCaducidad}}</span>
                            </div>
                            <div class="row mb-2">
                                <span><strong>Calorías:</strong> {{this.caloriasEnKcal}}</span>
                            </div>
                            <div class="row mb-2">
                                <span><strong>Peso en gramos:</strong> {{this.pesoEnGramos}}</span>
                            </div>
                            <div class="row">
                                <p class="d-flex flex-row-reverse mb-1">
                                {{#if this.entregada}}
                                    <span class="ms-1">Completado</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"/></svg>
                                {{else}}
                                    <span class="ms-1">En curso</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><path fill="currentColor" d="M16 3C8.832 3 3 8.832 3 16s5.832 13 13 13s13-5.832 13-13S23.168 3 16 3m0 2c6.087 0 11 4.913 11 11s-4.913 11-11 11S5 22.087 5 16S9.913 5 16 5m-.72 4.594L9.595 15.28l-.72.72l.72.72l5.687 5.686L16.72 21l-4-4H23v-2H12.72l4-4z"/></svg>
                                {{/if}}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <script src="/js/modalEliminacion.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{{/partial}}

{{> templates/base titulo="Donacion de viandas" mostrarSeccion=true seccion="Donación de viandas" mostrarPersonaHumana=true mostrarIrAtras=true paginaAtras="/" }}
