{{#partial "contenido"}}
    <div class="m-5">
        <div class="row justify-content-center">
            <form id="uploadForm" method="POST" {{#if edicion}}action="/personasVulnerables/{{id}}/edicion"{{else}}action="/personasVulnerables/"{{/if}}>
                <h4 class="fw-bold fs-5">Información básica</h4>
                <p class="mb-3">Ingresar los datos personales básicos de la persona en situación vulnerable.</p>
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="nombre" required pattern="^[A-Z][a-zA-Zà-ÿ]+(?: [A-Z][a-zA-Zà-ÿ]+){0,2}$" type="text" class="w-100" placeholder="Nombre" value="{{dto.nombre}}">
                    </div>
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="apellido" type="text" class="w-100" placeholder="Apellido" required pattern="^[A-Z][a-zA-Zà-ÿ]+(?: [A-Z][a-zA-Zà-ÿ]+){0,2}$" value="{{dto.apellido}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-12 mb-2 mb-md-0">
                        <div class="form-floating">
                            <input name="fecha" type="date" id="fecha" class="form-control" min="1910-01-01" max="2024-12-31" value="{{dto.fechaDeNacimiento}}">
                            <label for="fecha">Fecha de nacimiento</label>
                        </div>
                    </div>
                </div>
                <h4 class="fw-bold fs-5 mt-5">Campos específicos</h4>
                <p class="mb-3">Si no se ingresa un campo, se considerará que no se tiene la información correspondiente. Si no se ingresa un número de documento, se asumirá que es indocumentado, y si no se especifica una cantidad de menores a cargo, se entenderá que no tiene.</p>
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="cantidadMenores" type="number" class="w-100" placeholder="Cantidad de menores a cargo" value="{{#if dto.menoresAcargo}}{{dto.menoresAcargo}}{{else}}0{{/if}}" min=0 >
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group">
                            <select id="documentos" name="tipoDocumento" class="custom-select" required>
                                <option {{#ifEqual dto.documentoDTO.tipoDocumento "DNI"}}selected{{/ifEqual}}>DNI</option>
                                <option {{#ifEqual dto.documentoDTO.tipoDocumento "LC"}}selected{{/ifEqual}} value="LC">LIBRETA CÍVICA</option>
                                <option {{#ifEqual dto.documentoDTO.tipoDocumento "LE"}}selected{{/ifEqual}} value="LE">LIBRETA DE ENROLAMIENTO</option>
                                <option {{#ifEqual dto.documentoDTO.tipoDocumento "PASAPORTE"}}selected{{/ifEqual}} value="PASAPORTE">PASAPORTE</option>
                            </select>
                            <input name="nroDocumento" type="text" class="custom-input" placeholder="Número de documento" pattern="^[a-zA-Z0-9-]{5,50}$" value="{{dto.documentoDTO.nroDocumento}}">
                        </div>
                    </div>
                </div>
                <h4 class="fw-bold fs-5 mt-5">Dirección</h4>
                <p class="mb-3">Si no se proporciona una dirección, se asumirá que la persona está en situación de calle. Aunque la dirección no es obligatoria, si decides proporcionarla, asegúrate de incluir todos los datos indicados.</p>
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="calle" type="text" class="w-100" placeholder="Calle" aria-label="Calle" pattern="[A-Z][a-z]+{2, 50}" value="{{dto.direccionDTO.calle}}">
                    </div>
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="altura" type="number" class="w-100" placeholder="Altura" aria-label="Altura" value="{{dto.direccionDTO.altura}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="provincia" type="text" class="w-100" placeholder="Provincia" aria-label="Provincia" pattern="^[A-Za-zÀ-ÿ]+(?: [A-Za-zÀ-ÿ]+)*$" value="{{dto.direccionDTO.provincia}}">
                    </div>
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="municipio" type="text" class="w-100" placeholder="Municipio" aria-label="Municipio" pattern="^[A-Za-zÀ-ÿ0-9]+(?: [A-Za-zÀ-ÿ0-9]+)*$" value="{{dto.direccionDTO.municipio}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button id="submitButton" type="submit" class="w-100">Dar de alta</button>
                    </div>
                </div>
                {{#if error}}
                    <div class="row mt-2 justify-content-center">
                        <p class="error text-center">{{error}}</p>
                    </div>
                {{/if}}
            </form>
        </div>
    </div>
    <script src="/js/manejadorFormulario.js"></script>
{{/partial}}

{{> templates/base titulo="Personas Vulnerables" mostrarSeccion=true seccion="Personas vulnerables" mostrarPersonaHumana=true mostrarIrAtras=true paginaAtras="/personasVulnerables" }}